/* --------------------------------------------- inizio @media screen ----------------------------------------- */
@media screen {

    html,body,main {
        height: 100%;
        width: 100%;
        background-color: rgb(204, 163, 156);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        user-select: none;
    }
    body{
        font-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }



/* --------------------------------------------- CARTOON game ------------------------------------------- */
.cartoon {
    position: fixed;
    padding: 30px 20px 30px 20px;
    width:auto;
    margin:0 18.5em 2em;
    color:#F2F2F2;
    background:rgb(129, 47, 51);
    border: 2px solid rgb(129, 47, 51);
    border-radius:10px;
    font: normal normal 1em Verdana;
    visibility: hidden;
}

.cartoon:after {
    content:"";
    position:absolute;
    bottom:-15px;
    border-width:15px 15px 0;
    border-style:solid;
    border-color:rgb(129, 47, 51) transparent;
    display:block;
    width:0;
}
/* --------------------------------------------- END cartoon PlayGame ---------------------------------------- */

/* --------------------------------------------- play button PlayGame ---------------------------------------- */
.buttonPlay:hover{
    background: linear-gradient(#334175, #455281);
    color: #a3ffeb;
}
/* Basic red round button properties */
.buttonPlay {
  place-items: center;
  float: left;
  display:block;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  background-color: rgb(129, 47, 51);
  color: white;
  cursor: pointer;
  /* Hide the text 'play', which is present in the HTML document for accessibility */
  font-size: 0;
  margin: 1% 1% 1% 1%;
}

/* Properties for the pseudo-element that almost every button will need.
   You can just merge it into the style below if you are only going to have
   the play button. */
.buttonPlay::before {
  content: "";
  display: block;
  position: absolute;
}

/* Play button properties using CSS shape */
.buttonPlay::before {
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 28px solid white;
  top: 10px;
  left: 20px;
}

/* --------------------------------------------- END play button PlayGame ------------------------------------- */

/* ------------------------------------------------ timer PlayGame ------------------------------------------ */
#timer {
    font-family: sans-serif;
    color: black;
    display: grid;
    place-items: center;
    float: right;
    display:block;
    margin: 0 2% 1% 0;
}

.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: rgba(128, 128, 128, 0);
}

.base-timer__path-remaining {
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgba(28, 143, 62, 0.863);
}

.base-timer__path-remaining.orange {
    color: rgb(255, 166, 0);
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
/* ------------------------------------------------ END timer PlayGame ---------------------------------------- */

/* ----------------------------------------------- bar content PlayGame --------------------------------------- */
#fPlayGame {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1% 0 0 1%;
    user-select: none;
}

#buttonsContainer {
    width: 100%;
    height: 100%;
}

#tableContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    color: #F2F2F2;
    background: linear-gradient(rgb(38, 52, 101), #3a4980);
    text-shadow: -2px -2px 0 rgba(26, 26, 26, 0.5);
    box-shadow: inset 0 -1px 1px #3d4f8f, 0 8px 0 #202c58, 0 10px 15px rgba(0, 0, 0, 0.35);
    text-align: center;
    width: 17%;
    margin:0 1% 2% 2%;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
    float: left;
    display:block;
    font: normal normal 1.5em Verdana;
}

.button:hover{
    background: linear-gradient(#334175, #455281);
    color: #a3ffeb;
}

#finishGame{
    float:right;
    font-size: 100%;
    width: 20%;
    border: none;
    position: relative;
    text-align:center;
    display: inline-block;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font: normal normal 1.5em Verdana;
    margin:0 1% 2% 0%;
}

#bar {
    background-color: #EBE2FF;
    padding:1%;
    border-radius: 8px;
    /**height: 130px;
    min-height: 130px;**/
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 3px solid black;
}

.tile_v {
    width: 60px;
    height: 120px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-self: center;
    box-sizing: content-box;
}

.tile_h {
    width: 120px;
    height: 60px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: center;
}

.tileUpper {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: black;
    cursor: pointer;
    border: 2px solid black;
    box-sizing: border-box;
}

.tileLower {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: black;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid black;
}

/* ------------------------------------------ END bar content PlayGame ------------------------------------------ */

/* ---------------------------------------------------- TABLE --------------------------------------------------- */
#table {
    float: left;
    display: flex;
    background-color: #EBE2FF;
    border: 3px solid black;
    border-radius: 10px;
    flex-direction: column;
    margin: 1% 0 0 0;
}

.row {
    background-color: #EBE2FF;
    display: flex;
    border-radius: 10px;
    width: auto;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 5px;
}

.box {
    background-color: #F3F0FF;
    color: rgb(38, 52, 101);
    border-radius: 3px;
    border: 1px dotted rgb(38, 52, 101);
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
}

#copySpace {
    height: 200px;
    width: 200px;
    background-color: #EBE2FF;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------  END TABLE ------------------------------------------------------ */

}
  /* ----------------------------------------------- END @media screen -------------------------------------------------- */
