/* ----------------------------------------------------- @media screen ------------------------------------------------ */
@media screen {

    html,body,main {
        height: 100%;
        width: 100%;
        background-color: rgb(204, 163, 156);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        user-select: none;
    }



/* ------------------------------------------------------------ FORM  --------------------------------------------------------- */

#fPlayGame {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1% 0 1% 0;
    user-select: none;
}


/* ------------------------------------------------------- BUTTONS CONTAINER --------------------------------------------------- */

#buttonsContainer {
    width: 95%;
    height: 100%;
}

/* ------- BUTTONS "change set", "finish game" ------- */
.button {
    color: #F2F2F2;
    background: linear-gradient(#112d92, #4e68c5);
    text-shadow: -2px -2px 0 rgba(26, 26, 26, 0.5);
    box-shadow: inset 0 -1px 1px #848adb, 0 8px 0 #122879, 0 10px 15px rgba(67, 211, 255, 0);
    text-align: center;
    width: 17%;
    margin:0 1% 2% 2%;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
    float: left;
    display:block;
    font: normal normal 1.5em Verdana;
    margin:2%;
}

.button:hover{
    background: linear-gradient(#183fca, #5976e0);
    box-shadow: inset 0 -1px 1px #969ce9, 0 8px 0 #1836a1, 0 10px 15px #a3ffebe5;
    color: #a3ffeb;
}

#finishGame{
    width: 20%;
    float:right;
    border: none;
}

/* --------------------- CARTOON --------------------- */
.cartoon {
    position: fixed;
    padding: 30px 20px 30px 20px;
    width:auto;
    margin:0 18.5em 2em;
    color:#F2F2F2;
    background:rgb(129, 47, 51);
    border: 2px solid rgb(129, 47, 51);
    border-radius:10px;
    font: normal normal 1em Verdana;
    visibility: hidden;
}

.cartoon:after {
    content:"";
    position:absolute;
    bottom:-15px;
    border-width:15px 15px 0;
    border-style:solid;
    border-color:rgb(129, 47, 51) transparent;
    display:block;
    width:0;
}


/* ----------------------- TIMER --------------------- */
#timer {
    font-family: sans-serif;
    color: black;
    display: grid;
    place-items: center;
    float: right;
    display:block;
    margin: 0 2% 1% 0;
}

.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: rgba(128, 128, 128, 0);
}

.base-timer__path-remaining {
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgba(28, 143, 62, 0.863);
}

.base-timer__path-remaining.orange {
    color: rgb(255, 166, 0);
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}


/* --------------------------------------------------- TILES CONTAINER AND TILES ------------------------------------------------- */

#bar {
    background-color: #EBE2FF;
    padding:1%;
    border-radius: 0.7em;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 3px solid black;
}

.tile_v {
    width: 60px;
    height: 120px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-self: center;
    box-sizing: content-box;
}

.tile_h {
    width: 120px;
    height: 60px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: center;
}

.tileUpper {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: black;
    cursor: pointer;
    border: 2px solid black;
    box-sizing: border-box;
}

.tileLower {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: black;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid black;
}


/* -------------------------------------------------------- TABLE CONTAINER -------------------------------------------------- */

#tableContainer {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* ----------------- BUTTON "play melody" ------------------ */
.buttonPlay {
    place-items: center;
    position: relative;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border-radius: 50%;
    background-color: rgb(129, 47, 51);
    cursor: pointer;
    font-size: 0;   /* Hide the text 'play', which is present in the HTML document for accessibility */
    margin: 1% 0 0 2%;
}

.buttonPlay:hover{
    background: radial-gradient(rgb(255, 0, 0), rgb(105, 38, 42));
    box-shadow: 0 0 7px #f75f5fd0;
}

.buttonPlay::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 26px solid #F2F2F2;
    top: 10px;
    left: 20px;
}


/* ----------------------- TABLE --------------------- */
#table {
    float: left;
    display: flex;
    background-color: #EBE2FF;
    border: 3px solid black;
    border-radius: 10px;
    flex-direction: column;
    margin: 1% 1% 0 1%;
}

.row {
    background-color: #EBE2FF;
    display: flex;
    border-radius: 10px;
    width: auto;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 5px;
}

.box {
    background-color: #F3F0FF;
    color: rgb(38, 52, 101);
    border-radius: 3px;
    border: 1px dotted rgb(38, 52, 101);
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
}


/* ----------------------- COMMAND CONTAINER ------------------------ */
#commandContainer {
    padding-top: 1%;
    width:16%;  
    height:97%;
    display:flex; 
    flex-direction:column; 
    justify-content:space-between; 
    align-items:center;
}

/* ------------- COPY SPACE ------------- */
#copySpace {
    height: 45%;
    width: 90%;
    background-color: #EBE2FF;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#commands {
    max-width: 170px;
    min-width: 170px;
    max-height: 170px;
    min-height: 170px;
    background-color: #f6f85bd7;
    border: 0.5px solid black;
    transform: rotate(3deg);
    font-size: 75%;
    font-weight: bold;
    letter-spacing: -0.02em;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.493);
    text-align: center;
    padding-top: 10%;
    line-height: 250%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-sizing: border-box;
}

}