@media screen {

    html,body,main {
        height: 100%;
        width: 100%;
        background-color: rgb(204, 163, 156);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        user-select: none;
    }


.theContent {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------------------------------------------------- TITLE --------------------------------------------------------- */
.theHeader{
    background: linear-gradient(#EFDCE9, #FFA59E, #CD4137);
    padding: 0 2em 0 2em;
    border: 0.4em solid rgb(109, 41, 44);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.titleContainer {
    display: flex;
    flex-direction: row;
}

.title {
    transition: transform 300ms;
    text-shadow: -0.04em -0.04em 0 rgba(26, 26, 26, 0.5);
    font: normal normal 3.5vw "Lucida Handwriting", Cursive;
    font-variant: small-caps;
    margin: 0.5em 0 0.5em 0;
}

.titleNoSound{
    text-shadow: -0.04em -0.04em 0 rgba(26, 26, 26, 0.5);
    font: normal normal 3vw "Lucida Handwriting", Cursive;
    font-variant: small-caps;
    margin: 0.5em 0 -0.2em 0;
}

h2 {
    text-shadow: -0.04em -0.04em 0 rgba(26, 26, 26, 0.5);
    font: normal normal 2vw Verdana;
    color: rgb(80, 22, 25);
    margin: 0 0 0.5em 0;
}


/* ----------------------------------------------------------- FORM ------------------------------------------------------- */

.form {
    border: 0.4em solid rgb(38, 52, 101);
    background: linear-gradient(#F3F0FF, #E0E2FF, #6581BE);
    width: 70%;
    margin: auto;
    padding: 6vh 1vw 6vh 1vw;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
}

#modeSelectionForm {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.selectionContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ----------------- LABELS "mode", "difficulty" ----------------- */
.form label {
    color: rgb(17, 47, 155);
    text-shadow: -0.04em -0.04em 0 rgba(26, 26, 26, 0.5);
    display: inline-block;
    width: 20%;
    font: normal normal 2vw Verdana;
}

#difficulty {
    width: 30%;
}

/* ---- BUTTONS "new game", "how to play", "back to the game" ---- */
.form input[type=submit], input[type=button] {
    cursor: pointer;
    width: 50%;
    height: 30%;
    border: none;
    margin: 30px;
    padding: 0.5em;
    text-align:center;
    color: #F2F2F2;
    outline: none;
    border-radius: 0.3em;
    font: normal normal 2vw Verdana;
    text-decoration: none;
    background: linear-gradient(#112d92, #4e68c5);
    text-shadow: -0.04em -0.04em 0 rgba(26, 26, 26, 0.5);
    box-shadow: inset 0 -1px 1px #848adb, 0 8px 0 #122879, 0 1em 1em rgba(67, 211, 255, 0);
    transition: all 100ms ease-in-out;
}

.form input[type=submit]:hover, input[type=button]:hover {
    background: linear-gradient(#183fca, #5976e0);
    box-shadow: inset 0 -1px 1px #969ce9, 0 8px 0 #1836a1, 0 10px 15px #a3ffebe5;
    color: #a3ffeb;
}

/* ------------------------ DROP DOWN MENUS ---------------------- */
.custom-select {
    margin-right: 80px;
    position: relative;
    font: normal normal 1.3vw Verdana;
    display: inline-block;
    width: 20%;
    margin: 0 5% 5% 1%;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #112d92;
    border-radius: 0.4em;
}


/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 17px;
    right: 12px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #F2F2F2 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #F2F2F2 transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #F2F2F2;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #4e68c5;
    border-radius: 0.4em;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(255, 255, 255, 0.1);
}


/* ------------------------------------------------------------- RULES FORM ------------------------------------------------------ */

#rulesForm {
    align-items: center;
    width: 60%;
    min-height: 85%;
    padding: 1em 2em 1em 2em;
    justify-content: space-between;
    box-sizing: content-box;
}

.rulesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 77%;
    height: 10%;
    margin-bottom: 0.5em;
}

.rulesContainer .goToButton {
    width: 30%;
    height: 100%;
    font: normal normal 1vw Verdana;
    margin: 0;
    padding: 0.5em;
}


/* ----------------- RULES TEXT ------------------ */

#rulesForm h4 {
    margin: 0.5em 0 0.3em 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 1.1vw;
}

#rulesForm p {
    margin: 1em 0 0 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 0.9vw;
}

/* ------------------------------------------------------------- DEMO FORM ------------------------------------------------------- */
#demoForm {
    align-items: center;
    width: 75%;
    min-height: 85%;
    padding: 1em 2em 1em 2em;
    text-align: justify;
    justify-content: space-between;
}

#backToRules {
    width: 30%;
    height: 10%;
    font: normal normal 1em Verdana;
    margin: 0 0 0.3em 0;
}

/* ---------------------------------------------------- SCORE PLAY MELODY BUTTON --------------------------------------------------- */

#scoreForm {
    align-items: center;
    height: 90%;
    justify-content: space-between;
    padding: 1em 1em 0.5em 1em;
}

/* ------------ SCORE BUTTON play melody ----------- */

.buttonPlay {
    place-items: center center;
    position:relative;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border-radius: 50%;
    background-color: rgb(30, 138, 48);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 60px;
    text-align: center;
    font-size: 100%;
}

#playMelody {
    background-color: rgb(30, 138, 48);
    font-size: 0;   /* Hide the text 'play', which is present in the HTML document for accessibility */
}

#playMelody.buttonPlay:hover{
    background: radial-gradient(rgb(0, 255, 21), rgb(30, 138, 48));
    box-shadow: 0 0 10px #39ff8cd0;
}

#playMelody.buttonPlay::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 26px solid #F2F2F2;
    top: 10px;
    left: 20px;
}

/* -------------------- SCORE DOMINO EFFECT --------------------- */

.dominoEffect {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dominos {
  text-align: center;
  background-color: trasparent;
  max-width: 80%;
  position: relative;
  list-style: none;
  display: block;
}

.dominos .domino {
  display: inline-block;
  list-style: none;
  transform: rotate(-90deg);
  width: 75px;
  height: 35px;
  margin-bottom: 0.75em;
  margin-left: -2.55em;
  color: transparent;
  background-color: #444;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
  animation: topple 1s ease-in 1 alternate;
  animation-fill-mode: forwards;
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
}

@keyframes topple {
  4% {
    transform: rotate(-90deg);
    box-shadow: 0 0 1em #85f397b7;
  }
  10% {
    box-shadow: 0 0 1em #85f3a9ab;
  }
  42% {
    margin-left: .5em;
    margin-right: 0em;
    box-shadow: none;
  }
  100% {
    transform: rotate(0deg);
    color: black;
    background-color: #EBE2FF;
    margin: 0;
    margin-bottom: .25em;
  }
}


/* -------------------- SCORE bar ---------------------- */

#myProgress {
  width: 50%;
  background-color: grey;
  position: absolute;
  top: 55vh;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
}

#myBar {
  width: 1%;
  height: 20px;
  background-color: red;
  text-align: center; /* To center it horizontally*/
  line-height: 20px; /* To center it vertically */
  border-radius: 0.5em;
  color: black;
}


/* ----------------- SCORE pros & cons -------------------- */

.prosconsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 38%;
    margin-bottom: 6%;
}

.postIt {
    width: 45%;
    height: 92%;
    border: 0.5px solid black;
    padding: 1em;
    box-sizing: border-box;
    background-color: #f6f85bd7;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.02em;
}

#pros {
    background-color: rgb(61, 180, 61);
    border-color: rgb(9, 66, 9);
    transform: rotate(3deg);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.493);
}

#cons {
    background-color: rgb(214, 71, 71);
    border-color: rgb(78, 11, 11);
    transform: rotate(-1deg);
    box-shadow: -2px 2px rgba(0, 0, 0, 0.493);
}


/* ----------------- SCORE BUTTON retry ------------------- */
#backToModeSelection {
    position: absolute;
    top: 89%;
    left: 45%;
    cursor: pointer;
    width: 10%;
    height: 5%;
    border: none;
    text-align: center;
    color: #F2F2F2;
    outline: none;
    border-radius: 6px;
    font: normal normal 1.2em Verdana;
    text-decoration: none;
    background: linear-gradient(#112d92, #4e68c5);
    text-shadow: -2px -2px 0 rgba(26, 26, 26, 0.5);
    box-shadow: inset 0 -1px 1px #848adb, 0 8px 0 #122879, 0 10px 15px rgba(67, 211, 255, 0);
    transition: all 100ms ease-in-out;
}

#backToModeSelection:hover {
    background: linear-gradient(#183fca, #5976e0);
    box-shadow: inset 0 -1px 1px #969ce9, 0 8px 0 #1836a1, 0 10px 15px #a3ffebe5;
    color: #a3ffeb;
}

}
