@media screen {

    html,body,main {
        height: 100%;
        width: 100%;
        background-color: rgb(204, 163, 156);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        user-select: none;
    }

    body{
        font-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }


.theHeader{
    background: linear-gradient(#EFDCE9, #FFA59E, #CD4137);
    padding: 0 50px 0 50px;
    width: auto;
    height: auto;
    border: 0.4em solid rgb(109, 41, 44);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContainer {
    display: flex;
    flex-direction: row;
}

.title {
    transition: transform 300ms;
    text-shadow: -2px -2px 0 rgba(26, 26, 26, 0.5);
    font: normal normal 70px "Lucida Handwriting", Cursive;
    font-variant: small-caps;
    margin: 20px 0 20px 0;
}

.titleNoSound{
    text-shadow: -2px -2px 0 rgba(26, 26, 26, 0.5);
    font: normal normal 70px "Lucida Handwriting", Cursive;
    font-variant: small-caps;
    margin: 20px 0 0 0;
}

h2 {
    text-shadow: -2px -2px 0 rgba(26, 26, 26, 0.5);
    font: normal normal 40px Verdana;
    color: rgb(80, 22, 25);
    margin: 0;
}

h4 {
    margin: 1.33em 0 0.5em 0;
    font-family:cursive;
}

p {
    margin: 1em 0 0 0;
    font-family:cursive;
    font-size: 90%;
}

.theContent {
    width: 100%;
}

.form {
    border: 0.4em solid rgb(38, 52, 101);
    background: linear-gradient(#F3F0FF, #E0E2FF, #6581BE);
    width: 70%;
    margin: auto;
    padding: 3em 1em 3em 1em;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
}

#rulesForm {
    align-items: center;
    width: 75%;
    padding: 1em 2em 1em 2em;
    text-align: justify;
    justify-content: space-between;
}

.selectionContainer {
    display: flex;
    justify-content: space-between;
}

.form input[type=submit], input[type=button] {
    cursor: pointer;
    width:60%;
    height:70px;
    border: none;
    margin: 30px;
    position: relative;
    text-align:center;
    color: #F2F2F2;
    outline: none;
    border-radius: 6px;
    font: normal normal 2em/1 Verdana;
    text-decoration: none;
    background: linear-gradient(#112d92, #4e68c5);
    text-shadow: -2px -2px 0 rgba(26, 26, 26, 0.5);
    box-shadow: inset 0 -1px 1px #848adb, 0 8px 0 #122879, 0 10px 15px rgba(67, 211, 255, 0);
    transition: all 100ms ease-in-out;
}

#backToModeSelectionButton {
    width: 30%;
    height: 40px;
    font: normal normal 1em/1 Verdana;
    margin: 30px 0 0 0;
}

.form input[type=submit]:hover, input[type=button]:hover {
    background: linear-gradient(#183fca, #5976e0);
    box-shadow: inset 0 -1px 1px #969ce9, 0 8px 0 #1836a1, 0 10px 15px #a3ffebe5;
    color: #a3ffeb;
}

.form label {
    color: rgb(17, 47, 155);
    text-shadow: -1px -1px 0 rgba(26, 26, 26, 0.5);
    display: inline-block;
    width: 25%;
    font: normal normal 2em Verdana;
}

.custom-select {
    margin-right: 80px;
    width: 200px;
    position: relative;
    font: normal normal 1em Verdana;
    display: inline-block;
    width: 20%;
    margin: 0 5% 5% 1%;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #112d92;
    border-radius: 0.4em;
}


/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 17px;
    right: 12px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #F2F2F2 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #F2F2F2 transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #F2F2F2;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #4e68c5;
    border-radius: 0.4em;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(255, 255, 255, 0.1);
}

}

/* --------------------------------------------- play button score ---------------------------------------- */
.buttonPlay:hover{
    background: radial-gradient(rgb(255, 0, 0), rgb(105, 38, 42));
    box-shadow: 0 0 7px #f75f5fd0;
}

/* Basic red round button properties */
.buttonPlay {
  place-items: center;
  float: left;
  display:block;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  background-color: rgb(129, 47, 51);
  cursor: pointer;
  /* Hide the text 'play', which is present in the HTML document for accessibility */
  font-size: 0;
  margin: 1% 1% 1% 1%;
}

/* Play button properties using CSS shape */
.buttonPlay::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 28px solid white;
  top: 10px;
  left: 20px;
}

/* --------------------------------------------- END play button score ------------------------------------- */

/* --------------------------------------------- domino effect score ------------------------------------- */
.dominoEffect {
    display: flex;
    justify-content: space-between;
}
.dominos {
  text-align: center;
  background-color: trasparent;
  max-width: 80%;
  position: relative;
  list-style: none;
  display: block;
}
.dominos .domino {
  display: inline-block;
  list-style: none;
  transform: rotate(-90deg);
  width: 100px;
  height: 50px;
  margin-bottom: 0.25em;
  margin-left: -3.05em;
  color: #777;
  background-color: #444;
  line-height: 3em;
  text-transform: uppercase;
  text-align: center;
  animation: topple 1s ease-in 1 alternate;
  animation-fill-mode: forwards;
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
}

@keyframes topple {
  0% {
    background-color: #444;
    color: black;
  }
  4% {
    background-color: #eea;
    color: black;
    transform: rotate(-90deg);
    box-shadow: 0 0 1em #fe2;
  }
  42% {
    margin-left: .5em;
    margin-right: 0em;
    box-shadow: none;
  }
  100% {
    transform: rotate(0deg);
    color: black;
    background-color: white;
    margin: 0;
    margin-bottom: .25em;
  }
}
/* --------------------------------------------- END domino effect score ------------------------------------- */

/* ------------------------------------------------------------------ bar score ------------------------------ */
#myProgress {
  width: 50%;
  background-color: grey;
  margin: 10% 0 0 25%;
  display: flex;
  justify-content: space-between;
}

#myBar {
  width: 1%;
  height: 50px;
  background-color: red;
  text-align: center; /* To center it horizontally*/
  line-height: 50px; /* To center it vertically */
  color: black;
}
/* ------------------------------------------------------------------ END bar score -------------------------- */