/* ---------------------------- inizio @media screen -------------------------------------- */
@media screen {

html,body {
  height: 100%;
  margin: 0;
}

body{
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


/* ---------------------------- grid-container -------------------------------------- */

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "main main main main main"
    "main main main main main";
  /*grid-gap: 0.5em;
  padding: 0.5em;*/
  min-height:100%;
}

/* ---------------------------- END grid-container -------------------------------------- */

/* ---------------------------- grid-containerPlayGame -------------------------------------- */

.grid-containerPlayGame {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "main main main main main"
    "main main main main main";
  /*grid-gap: 0.5em;
  padding: 0.5em;*/
  min-height:40%;
}

/* ---------------------------- END grid-containerPlayGame -------------------------------------- */

/* ---------------header------------*/
.theheader{
  background-color: lightgrey;
  /*background-image: url('notes.png');
  background-size: 100% 150%;
  background-repeat: no-repeat;*/
  color: white;
  grid-area: header;
  padding: 0.1em;
  text-align:center;
  min-width: 30em;
}

h1 {
/*margin:-250px 0 0 0;*/
/*height:138px;*/
display:block;
text-align:center;
color: #f1f1f1;
text-shadow: -1px -1px 0 rgba(26, 26, 26, 0.5);
font: normal normal 100px Verdana;
/*width:400px;
/*float:center;*/
margin:0;
}

h2 {
/*margin:-250px 0 0 0;*/
/*height:138px;*/
display:block;
text-align:center;
color: #f1f1f1;
text-shadow: -1px -1px 0 rgba(26, 26, 26, 0.5);
font: normal normal 50px Verdana;
/*width:400px;
/*float:center;*/
margin:0 -20px -80px -20px;
}


/* --------------- fine header ------------*/

/* ---------------header PlayGame ------------*/
.theheaderPlayGame{
  color: white;
  grid-area: header;
  padding: 1em 3em 0 3em;
  text-align:center;
  min-width: 20em;
}
/* --------------- fine header ------------*/

/* ---------------------------- content in NewGame -------------------------------------- */
.thecontent {
  grid-area: main;
  padding:4% 5% 4% 5%;
  min-width: 30em;
}
/* ---------------------------- END content in NewGame -------------------------------------- */

/* ---------------------------- form in NewGame -------------------------------------- */
div.form {
    border: 0.2em solid lightgrey;
    width: 70%;
    margin: auto;
    padding: 3em 1em 3em 1em;
    border-radius: 0.4em; /* arrotondamento angoli */
    text-align: center;
}

.form input[type=submit], input[type=button] {
    /*font-size: 100%;
    width: 30%;
    background-color: black;
    color: white;
    padding: 1em 1em;
    margin: 0.8em 2em;
    border: none;
    border-radius: 0.4em;*/
    font-size: 100%;
    width:60%;
    height:70px;
    border: none;
    margin: 3em 0 0.5em 3em;
    position: relative;
    /*z-index:99999;*/
    text-align:center;
    /*display: inline-block;*/
    color: #f1f1f1;
    outline: none;
    background: #33bbff;
    background: -moz-linear-gradient(#1ab2ff, #4dc3ff), #33bbff;
    background: -o-linear-gradient(#1ab2ff, #4dc3ff), #33bbff;
    background: -webkit-linear-gradient(#1ab2ff, #4dc3ff), #33bbff;
    background: linear-gradient(#1ab2ff, #4dc3ff), #33bbff;
    text-shadow: -1px -1px 0 rgba(26, 26, 26, 0.5);
    box-shadow: inset 0 -1px 1px #66ccff, 0 8px 0 #0088cc, 0 10px 15px rgba(0, 0, 0, 0.35);
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    font: normal normal 2em/1 Verdana;
    text-decoration: none;
}

.form input[type=submit]:hover, input[type=button]:hover {
    color: rgba(0, 0, 0, 0.1);
}



.form label {
    float:left;
    display: inline-block;
    width:20%;
    font: normal normal 1.5em Verdana;
}

/*.form select {
  width:55%;
  font-size: 100%;
  padding: 0.5em 0.5em;
  margin: 3em 2em;
}*/

/* ----------------------------  costumize select in startGame -------------------------------------- */
/* The container must be positioned relative: */
.custom-select {
  float:left;
  position: relative;
  font: normal normal 1em Verdana;
  display: inline-block;
  width:20%;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #33bbff;
  /*border-radius: 0.4em; /* arrotondamento angoli */
}


/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #33bbff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* ---------------------------- END costumize select in startGame -------------------------------------- */

/* ---------------------------- END form in NewGame -------------------------------------- */

/* --------------------------------- cartoon PlayGame ------------------------------------- */
.cartoon {
  position: fixed;
  padding: 3em 1em 3em 1em;
  width:30%;
  /*float:center;*/
  /*display:inherit;*/
  margin:0 18.5em 2em;
  color:#000;
  background:#f3961c; /* bg */
  /* css3 */
  /*background:-webkit-gradient(linear, 0 0, 0 100%, from(#AFEEEE), to(#E0FFFF));*/
  background:-moz-linear-gradient(#00BFFF, #87CEFA);
  background:-o-linear-gradient(#00BFFF, #87CEFA);
  background:linear-gradient(#00BFFF, #87CEFA);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  font: normal normal 1em Verdana;
  display:none;
}



.cartoon:after {
  content:"";
  position:absolute;
  bottom:-15px; /* valore = - border-top-width - border-bottom-width */
  /*left:50px; /* posizionamento orizzontale */
  border-width:15px 15px 0;
  border-style:solid;
  border-color:#87CEFA transparent;
  /* FF3.0 fix */
  display:block;
  width:0;
}
/* --------------------------------- ENDcartoon PlayGame ------------------------------------- */

/* --------------------------------- timer PlayGame ------------------------------------- */
#timer {
  font-family: sans-serif;
  color: black;
  display: grid;
  place-items: center;
  float: right;
  display:block;
  margin: 0 0 1% 0;
}

.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
/* --------------------------------- END timer PlayGame ------------------------------------- */

/* -------------------------------- bar content PlayGame ---------------------------- */
.button {
  background: limegreen;
  color: black;
  text-align: center;
  width: 17%;
  margin:0 1% 2% 0%;
  border-radius: 5px;
  padding: 1%;
  cursor: pointer;
  float: left;
  display:block;
  font: normal normal 1.5em Verdana;
}

.button:hover{
  background-color: lightgreen;
}

#finishGame{
  float:right;
  font-size: 100%;
  width: 20%;
  border: none;
  position: relative;
  text-align:center;
  display: inline-block;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font: normal normal 1.5em Verdana;
  margin:0 1% 2% 0%;
}

#bar {
  background-color: lightgrey;
  padding:10px;
  border-radius: 5px;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tile_v {
  width: 60px;
  height: 120px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-self: center;
  box-sizing: content-box;
}

.tile_h {
  width: 120px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: center;
}

.tileUpper {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: black;
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
}

.tileLower {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: black;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid black;
}

/* -------------------------------- END bar content PlayGame ---------------------------- */

/* ------------------- style percorso temporaneo ---------------------------------- */
#table {
  display: flex;
  background-color: grey;
  flex-direction: column;
  margin: 1% 0 0 0;
}

.row {
  background-color: red;
  display: flex;
  width: auto;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 5px;
}

.box {
  background-color: rgb(240, 176, 176);
  color: black;
  border-radius: 3px;
}

/* -------------------  END style percorso temporaneo ---------------------------------- */

}
/* ---------------------------- END @media screen -------------------------------------- */
